<div class="container">
  <app-modal *ngIf="addPropertyModal">
    <div ngClass="close">
            <span (click)="closeModal()">
                X
            </span>
        </div>
    <div>
      <div>
        <h3>
          Add Property
        </h3>
        <form [formGroup]="addPropertyForm">
          <label>name</label><input type="text" formControlName="name">
          <label>desc</label><input type="text" formControlName="desc">
          <label>size</label><input type="text" formControlName="size">
          <button type="submit" (click)="addPropertytoList()">
            Add
          </button>
        </form>
      </div>
    </div>
  </app-modal>
  <app-modal *ngIf="status!=''">
    {{status}}
  </app-modal>
  <app-modal *ngIf="deletePropertyModal">
    <div ngClass="close" (click)="closeModal()">
      <span >
          X
      </span>
  </div>
    <div>
      <div>
        <h3>
          Delete Property
        </h3>
        <form [formGroup]="deletePropertyFrom">
          <label>Enter property ID</label><input type="number" formControlName="id">
          <button type="submit" (click)="deleteProperty()">
            Delete
          </button>
        </form>
      </div>
    </div>
  </app-modal>

  <button (click)="openModel('addProperty')">
    Add property
  </button>
  <button (click)="openModel('deleteProperty')" ngClass="delete">
    Delete Property
  </button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>
          Name
        </th>
        <th>
          Description
        </th>
        <th>
          Size
        </th>
        <th>
          Delete
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of currProperties">
        <td>
          {{property.Id}}
        </td>
        <td>
          {{property.Name}}
        </td>
        <td>
          {{property.desc}}
        </td>
        <td>
          {{property.size}}
        </td>
        <td>
          <button ngClass="delete small-btn" (click)="deleteProperty(property.Id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="page-nav">
    <div><button [disabled]="currPage==1" (click)="gotoPage(1)">first</button></div>
    <div><button [disabled]="currPage==1" (click)="gotoPage(currPage-1)">previous</button></div>
    <div>
      <form [formGroup]="pageNumberForm">
        <input type="number" [max]="totalPages" maxlength="3" formControlName="page">
        <button (click)="gotoPage()" >Go</button>
      </form>
    </div>
    <div><button [disabled]="currPage==totalPages" (click)="gotoPage(currPage+1)">next</button></div>
    <div><button [disabled]="currPage==totalPages" (click)="gotoPage(totalPages)">last</button></div>
  </div>
</div>