.container{
    text-align: center;
    text-decoration: none;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;

    &:hover {
        background-color: #196c1d;
    }

}

.delete{
    background-color: #f44336;
    &:hover {
        background-color: #b22222;
    }
}

table{
    margin: auto;
}

.page-nav{
    text-decoration: none;
    display: flex;
    justify-content: center;

    input{
        margin : 10px;
        margin-right: 0px;
        width: 50px;
    }
}

.small-btn{
    padding: 2px 2px;
    margin: 2px 2px;
}

.close{
    text-align: right;
    background-color: rgb(210, 210, 210);
    span{
      padding-right: 1%;
      color: gray;
      cursor: pointer;
    }
  }